@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    14 de Julio 232<br />
    Boulogne, San Isidro<br />
</address>
<strong>E-Mail Personal: </strong><a href="mailto:montano.mariano@gmail.com">montano.mariano@gmail.com</a>
<br />
<strong>Tel: </strong> <a href="tel:+5491162204305">1162204305</a>

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="form-horizontal row" style="margin-left:15px">
        <div class="form-group">
            <label>Su E-Mail: </label>
            <input class="form-control" type="email" name="from" value="" />
        </div>
        <div class="form-group">
            <label>Asunto: </label>
            <input class="form-control" type="text" name="subject" value="" />
        </div>

        <div class="form-group">
            <label>Mensaje: </label>
            <textarea class="form-control" name="body" rows="10" style="min-height: 40mm"></textarea>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@Html.ActionLink("Whatsapp", "Whatsapp", null, new { @class = "btn btn-success", target = "_blank" })