@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    14 de Julio 232<br />
    Boulogne, San Isidro<br />
    <strong>E-Mail Personal: </strong><a href="mailto:montano.mariano@gmail.com">montano.mariano@gmail.com</a>
    <br />
    <strong>Tel: </strong> <a href="tel:+5491162204305">1162204305</a>

    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="margin-left:15px">
            <hr />
            <div class="form-group">
                <label>Su E-Mail: </label>
                <input class="form-control" type="email" name="from" value="" />
            </div>
            <div class="form-group">
                <label>Asunto: </label>
                <input class="form-control" type="text" name="subject" value="" />
            </div>

            <div class="form-group">
                <label>Mensaje: </label>
                <textarea class="form-control" name="body" rows="10"></textarea>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Enviar" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <a href="web.whatsapp.com/send?phone=5491162204305">
        <img src="~/Content/logo-whatsapp.jpg" height="30px" />
    </a>
</address>