@{
    ViewBag.Title = "Perfil";
}

<div class="jumbotron">
    <div class="media">
        <div class="media-left">
            <img src="~/Content/Perfil.jpg" width="250" height="250" class="img-rounded img-responsive">
        </div>
        <div class="media-body">
            <h1 class="media-heading">Mariano Antonio Montano</h1>
            <h2>
                Analista Programador .NET Jr.
            </h2>
            <br />
            <p>
                Amante de la tecnología. Autodidacta en
                aprendizaje contínuo de nuevas tecnologías y
                habilidades.
            </p>
            <p>
                Actualmente me encuentro realizando mi primer
                trabajo como desarrollador de software de manera profesional.
            </p>
            <p>
                Soy muy alegre y me gusta siempre dejar lo
                mejor en lo que hago.
            </p>
        </div>
    </div>
    <br />
    <br />
    <a class="btn btn-primary" href="https://www.linkedin.com/in/mariano-montano/">LinkedIn</a>
    <a class="btn btn-primary" href="https://github.com/marianomontano/">GitHub</a>
</div>