@{
    ViewBag.Title = "Perfil";
}

<div class="jumbotron" >
    <div>
        <div><img src="~/Content/Perfil.jpg" width="250" height="250" class="img-rounded img-responsive"></div>
        <div><h1>Mariano Antonio Montano</h1></div>
    </div>

    <p>
        <h2>
            Analista Programador .NET Jr.
        </h2>
        <br />
        <p>
            Amante de la tecnología. Autodidacta en
            aprendizaje contínuo de nuevas tecnologías y
            habilidades.
        </p>
        <p>
            Actualmente me encuentro realizando mi primer
            trabajo como desarrollador de software de manera profesional.
        </p>
        <p>
            Soy muy alegre y me gusta siempre dejar lo
            mejor en lo que hago.
        </p>
    <br />
    <br />
    <div>
        <div>
            <button class="btn btn-info">
                <a href="https://www.linkedin.com/in/mariano-montano-93a83297/">LinkedIn</a>
            </button>
        </div>
    </div>
    </p>
</div>