@{
    ViewBag.Title = "Perfil";
}

<div class="jumbotron">
    <div>
        <div><img src="~/Content/Perfil.jpg" width="250" height="250" class="img-rounded img-responsive"></div>
        <div><h1>Mariano Antonio Montano</h1></div>
    </div>

    <p>
        <h3>Perfil</h3>

        Estudiante de informática, padre de dos nenas.<br />
        Amante de la tecnología. Autodidacta en
        aprendizaje contínuo de nuevas tecnologías y
        habilidades.<br />
        Me encuentro en la búsqueda de mi primer
        trabajo en el sector IT ya que hasta ahora me he
        desempeñado en el rubro de ventas.<br />
        Soy muy alegre y me gusta siempre dejar lo
        mejor en lo que hago.
        <br />
        <br />
        <div>
            <div>
                <button class="btn btn-info">
                    <a href="https://www.linkedin.com/in/mariano-montano-93a83297/">LinkedIn</a>
                </button>
                <button class="btn btn-info">
                    <a href="https://www.facebook.com/montano.mariano/">Facebook</a>
                </button>
            </div>
        </div>
    </p>
</div>