@model IEnumerable<Curriculum_Vitae.Models.SkillsModel>

<div>
    <div class="h2">Habilidades</div>
    <br />

    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="h4">
                    @Html.DisplayFor(model => item.Grupo)
                </span>
            </div>
            <div class="panel-body">
                @foreach (var skill in item.Habilidades)
                {
                    <ul>
                        <li>
                            @Html.DisplayFor(model => skill)
                        </li>
                    </ul>
                }
            </div>
        </div>
    }
</div>
