<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>X5Jo1s3CjxxWqjvCoYV1X+O1gnYP7KR3/3YxEWYYFCwphZjY3Moz0owhqTKF/+vR3Da/MJOMZMhqRDcyJKoaQMvEtlGrxfUH807fc+YYjlkAFKcBwF6PdrJCfh6ZbPAyhgvxpzPSRnJGXosIJTJ9cdDO6d/C1tkOYMzN9B5uvlMaQPmusVYm1tlzjR7lTEuI3qvBAokPAzt1eGoUD58tItTseFL5zMRO9kljeApiYxstXJ7E0bEPD7hMmTwOJ83tnV/VMkRztGMqx3QpISqKRgQ3v36dweueJoulN38me85bobC5k6J80HPdOgtje2vKWwglotHjF8EjwYwH5r/L5g==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>uZ4VAKh2R//zkn7AKqNmY2B06I1XYCW/VfD+3ks/phn0J1ahi8uk+5Y45VIsOj/mYJZ7p8kNWvllM643hhInOdRNgE1Vwza5JBq6UupaJF4SFSRpzRVnGuASFN4le5bltw8jOQmsQvhyWsrWelBeZJ96Ci4QP1xyEv4HIhz+W/g50OukR0DY4uP/tLX2VXhBsRTxBx4qClWa6DsYbRarrTAl/LHJCFbdurOmB0uNQ+eWex6Jbg9qy35zLj+0Hsr+1UDA8jzPRCgpMZKi2b2lJoDddwB+WFh6I1zUXrmYYQdt82q39ssueegSYbiO3ritvX9xpgiEwM/bp3iwgfHwQDi4PPNbw7bkq57O7G5nJ3llEGdta5ifFri1aAp4r2goy0P5EK/63/keXO5ZpGBwsepHnHEfSXM42x4oODbX4R40+IIIK2CuL9x4CPsWc7eA94CnxyA8wr0aWdXqWKIQVSjB1SRg5D+f2t1u+dFRVQIm0wt0uHERgioBoQ0f4QHtyW8q5x/N1fuHhyvogyPxyVxB/mswqsnbdweKTrs+hSJqu7Aq1ZFOJQ1LWLu4s2siLCIno0r0NIwIIr/imus4PA==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
